openapi: 3.0.3
info:
  title: Backupify SaaS Protection Domains API
  description: The Backupify (Datto) SaaS Protection REST API provides programmatic access to manage cloud-to-cloud backup for Microsoft 365 and Google Workspace. It enables seat management, subscription configuration, and backup domain administration for MSPs and enterprise customers. Authentication uses HTTP Basic authentication with API key credentials.
  version: v1
  x-generated-from: documentation
  contact:
    name: Datto/Backupify Support
    url: https://www.backupify.com/
servers:
- url: https://api.datto.com
  description: Datto SaaS Protection API
security:
- BasicAuth: []
tags:
- name: Domains
  description: SaaS domain and customer account management
paths:
  /v1/saas/domains:
    get:
      operationId: listDomains
      summary: Backupify SaaS Protection API List Domains
      description: Retrieves a list of SaaS customer domains with their customer IDs and external subscription information for seat management configuration.
      tags:
      - Domains
      responses:
        '200':
          description: List of SaaS domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsResponse'
              examples:
                ListDomains200Example:
                  summary: Default listDomains 200 response
                  x-microcks-default: true
                  value:
                    domains:
                    - saasCustomerId: cust-001
                      externalSubscriptionId: sub-abc123
                      domain: company.onmicrosoft.com
                      status: active
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Domain:
      title: Domain
      type: object
      description: A SaaS customer domain with backup subscription information
      properties:
        saasCustomerId:
          type: string
          description: Unique SaaS customer identifier
          example: cust-001
        externalSubscriptionId:
          type: string
          description: External subscription identifier for seat management
          example: sub-abc123
        domain:
          type: string
          description: The domain name (e.g., company.onmicrosoft.com)
          example: company.onmicrosoft.com
        status:
          type: string
          description: Domain backup status
          example: active
    ErrorResponse:
      title: ErrorResponse
      type: object
      description: API error response
      properties:
        code:
          type: integer
          description: HTTP status code
          example: 401
        message:
          type: string
          description: Error message
          example: Unauthorized
    DomainsResponse:
      title: DomainsResponse
      type: object
      description: Response containing a list of SaaS domains
      properties:
        domains:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using API public key as username and private key as password
